:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}

html {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
}

.buttonstyle {
  background: transparent;
  margin: 20px;
  border: 1px solid var(--contrast-color);
  border-radius: 70px; /* Rounded borders */
  padding: 8px 12px;
  position: relative;
  align-self: center;
  align-items: center;
  outline: none;
  color: var(--contrast-color);
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.buttonstyle:hover {
  background-color: var(--contrast-color);
  color: white;
}

.buttoncont {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* New styles for the product slider */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px; /* Added padding to the slider */
  /* Removed background color for the slider */
}

.product-item {
  min-width: 300px;
  margin: 20px; /* Increased margin for better spacing */
  scroll-snap-align: start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s; /* Added transition for box-shadow */
  background-color: var(--secondary-color); /* Set background color for product items */
  color: var(--contrast-color); /* Set text color for product items */
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
}
/*/////////////////////////////////////////HOMEPAGE CSS//////////////////////////////////*/
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartimg {
  width: 40px;
}

nav .logo {
  width: 60px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

/*/////////////////////////////////////////HOMEPAGE CSS//////////////////////////////////*/
a {
  text-decoration: none;
}