html {
  color: #BF307F;
  text-decoration: none;
  font-family: fantasy;
  font-size: 30px;
  scroll-behavior: smooth;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  text-align: center; /* Center the list items */
  margin-top: 10px;
}

li {
  display: inline-block;
  margin-right: 20px; /* Space between list items */
}

a {
  color: rgb(192, 169, 139);
  text-decoration: none; /* Remove underline, male kolko mrazq default underline */
  font-size: 18px;
  align-items: center;
}
:root { /* Ne sum na 100 pro siguren kak bachka ama e neshto kato vault, posle ako callnesh --secondary-color ti go dava, i at the same time mai e document wide changes, vse edno all */
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}
body {
  background-color: var(--secondary-color); /* Using the defined secondary color */
}
.insideimage {
 width: 100%;
 height: auto;
}
.buttonstyle{
  background: transparent;
  margin: 20px;
  border: 1px solid var(--contrast-color);
  border-radius: 70px; /*Rounded borders basically*/
  padding: 8px 12px;
  position: relative;
  align-self: center;
  align-items: center;
  outline: none;
  color: #BF307F; /*Pak vadish ot root*/
  font-size: 16px;
}
.buttoncont{ /*basically pravish conteiner, flex display e kato default layout i posle kazvash v tozi layout budi centered, justify e vertical allign horizontal, idk why, do explore further*/
  align-items: center;
  justify-content: center;
  display: flex;
}